<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Home</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-softy-pinko.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->

    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
{#                        <a href="#" class="logo">#}
                            <img src="static/assets/images/yunwei.jpg" alt="Softy Pinko" height="80" />
{#                        </a>#}
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active" style=" font-size:16px">平台使用说明</a></li>
                            <li><a href="#features" style=" font-size:16px">重启204.53</a></li>
                            <li><a href="#203112" style=" font-size:16px">重启203.112</a></li>
                            <li><a href="#tableau" style=" font-size:16px">清理Tableau日志</a></li>
                            <li><a href="#demo" style=" font-size:16px">Demo</a></li>
                            <li><a href="#" style=" font-size:16px">开发中</a></li>
                            <li><a href="#" style=" font-size:16px">开发中</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h2>该平台集成了日常运维中发生频率较高的一些操作，实现需经较多步骤完成的操作在此平台上 <strong>一键完成</strong><br></h2>
                        <p>更多功能开发中...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item1 Start 重启204.53***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>  <!--隔开左边的图片和文字*/ -->
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">重启<strong>204.53</strong>,请选择要进行的操作:</h2>
                    </div>
                    <div class="left-text">
                        重启204.53<input type="radio" name="select1" value="reboot20453" id="i1"><br>
                        重启失败，发短信给管理员<input type="radio" name="select1" value="send_sms" id="i2"><br>
                        <button id="btn1", class="btn-default">确定</button><br><br>
                        <input type="text" class="col-lg-12 input-group-lg" id="res1" placeholder="结果显示区" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item1 End 重启204.54***** -->

    <!-- ***** Features Big Item2 Start 重启203.112***** -->
    <section class="section padding-bottom-100" id="203112">
        <div class="container">
           <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">重启<strong>203.112</strong>,请选择要进行的操作:</h2>
                    </div>
                    <div class="left-text">
                        重启203.112<input type="radio" name="select2" value="reboot203112" id="demo1"><br>
                        重启失败，发短信给管理员<input type="radio" name="select2" value="send_sms" id="demo2"><br>
                        <button id="btn2", class="btn-default">确定</button><br><br>
                        <input type="text" class="col-lg-12 input-group-lg" id="res2" placeholder="结果显示区" >
                    </div>
                </div>
               <div class="col-lg-1"></div>  <!--隔开左边的图片和文字*/ -->
               <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
           </div>
        </div>
    </section>
    <!-- ***** Features Big Item2 End 重启203.112***** -->

      <!-- ***** Features Big Item3 Start 清理tableau日志***** -->
    <section class="section padding-top-70 padding-bottom-0" id="tableau">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>  <!--隔开左边的图片和文字*/ -->
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">清理<strong>钱滚滚Tableau</strong>日志,请选择要进行的操作:</h2>
                    </div>
                    <div class="left-text">
                        清理Tableau日志<input type="radio" name="select3" value="clean_logs" id="i1"><br>
                        清理失败，发短信给管理员<input type="radio" name="select3" value="send_sms" id="i2"><br>
                        <button id="btn3", class="btn-default">确定</button><br><br>
                        <input type="text" class="col-lg-12 input-group-lg" id="res3" placeholder="结果显示区" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item3 End 清理tableau日志***** -->

    <!-- ***** Features Big Item4 Start Demo***** -->
    <section class="section padding-bottom-100" id="demo">
        <div class="container">
           <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title"><strong>前后端交互</strong>Demo,请选择要进行的操作:</h2>
                    </div>
                    <div class="left-text">
                        脚踏实地<input type="radio" name="select4" value="脚踏实地" id="demo1"><br>
                        仰望星空<input type="radio" name="select4" value="仰望星空" id="demo2"><br>
                        <button id="btn4", class="btn-default">确定</button><br><br>
                        <input type="text" class="col-lg-12 input-group-lg" id="res4" placeholder="结果显示区" >
                    </div>
                </div>
               <div class="col-lg-1"></div>  <!--隔开左边的图片和文字*/ -->
               <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
           </div>
        </div>
    </section>
    <!-- ***** Features Big Item4 End Demo***** -->

    <!-- ***** Blog Start ***** -->
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">专业运维 使命必达</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="static/assets/images/blog-item-01.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">便捷</a>
                            </h3>
                            <div class="text">
                               致力复杂工作简单话，一"点"完成
                            </div>
{#                            <a href="#" class="main-button">Read More</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="static/assets/images/blog-item-02.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">专业</a>
                            </h3>
                            <div class="text">
                                功能丰富，日常需求一"键"完成
                            </div>
{#                            <a href="#" class="main-button">Read More</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="static/assets/images/blog-item-03.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">高效</a>
                            </h3>
                            <div class="text">
                                高效高质响应各种需求
                            </div>
{#                            <a href="#" class="main-button">Read More</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2019.中欧钱滚滚基金销售（上海）有限公司 All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script>
    
    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>
    <!-- Ajax -->
    <script>
        $('#btn1').click(function () {
            $.ajax({
                url:'',
                type:'POST',
                data:{select1:$('input[type=radio][name=select1]:checked').val()},
                success:function(data){
                    $('#res1').val(data)
                }
            })
        })
    </script>
    <script>
        $('#btn2').click(function () {
            $.ajax({
                url:'',
                type:'POST',
                data:{select2:$('input[type=radio][name=select2]:checked').val()},
                success:function(data){
                    $('#res2').val(data)
                }
            })

        })
    </script>
    <script>
        $('#btn3').click(function () {
            $.ajax({
                url:'',
                type:'POST',
                data:{select3:$('input[type=radio][name=select3]:checked').val()},
                success:function(data){
                    $('#res3').val(data)
                }
            })

        })
    </script>
    <script>
        $('#btn4').click(function () {
            $.ajax({
                url:'',
                type:'POST',
                data:{select4:$('input[type=radio][name=select4]:checked').val()},
                success:function(data){
                    $('#res4').val(data)
                }
            })

        })
    </script>

  </body>
</html>